---
interface Props {
     description: string
    type: string
     id: string
    
}
const { description,id,type  } = Astro.props
---


<div class={`alert ${type}`} id={id}>
   
    <p>{description}</p>

  </div>

  <style>
    .alert {
    
    padding: 20px;
    color: white;
    border-radius: 15px;
    position: fixed;
    top: -100px; /* Inicialmente fuera de la pantalla */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    display: inline-flex; /* Mantiene los elementos internos en línea */
    align-items: center; /* Alinea verticalmente los elementos internos */
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transition: top 0.5s ease;
}
.primary {
  background: #115fdd;
}
.error {
  background: #f44336;
}
.success {
  background: #4caf50;
}

.alert p{

  margin: 0;
  font-size: 20px;
  line-height: 1.5;
  color: white;
  font-weight: bolder

	
}
.alert img{
  margin-right: 10px;
}

  </style>