---
interface Props {
    title: string
    id: string
    disabled?: boolean
   
}
const { title,id , disabled } = Astro.props
---
<button class="button" disabled={disabled}  id={id}> {title}</button>

<style>
    .button {
        background-color: #5a07d7; 
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 10px;
        transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
        
    }
    
    .button:active {
        transform: scale(0.98);
  background-color: #6f1ac4; /* resultado de darken($button-bg, 5%) */
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
    
    }
    .button:focus {
        outline: 0;

    }
    .button:disabled{
		background-color: #424242;
		cursor: not-allowed;
	}
   

</style>